@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

body {

    margin: 0;
    background-image: url(dragonback.jpg);
    background-size: cover;
}



#select_Dragon {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main_Tittle {

    font-family: "Henny Penny", system-ui;
    font-size: 6rem;
    font-weight: 500;
    font-style: normal;
    background: linear-gradient(to right ,rgb(241, 9, 9),  #1404a1 50%, #eee 80%, #110ec7 70%);
    background-clip:text;
    -webkit-background-clip:text;
    color: transparent;
    

}

.tittle_Chosse {

    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-size: 4rem;
    font-weight: 500;
    font-style: normal;
}

.container_Dragon,
.button-Button {

    display: flex;
    gap: 10px
}

.cards-box {
    background-color: transparent;
    width: auto;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px chartreuse;
    margin: 10px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

img {

    width: 50px;
}

input {

    display: none;
}

input:checked + label{
    background-color: gray;

}

#button_selection {
    margin-top: 30px;
    font-family: "Henny Penny", system-ui;
    font: size 2rem;
    border-radius: 10%;
}

#selct_Attack {
    /* el display flex es no  necesario poner cuando esta declarado desde JS*/
    flex-direction: column;
    align-items: center;

}

.button-powers {

    color: antiquewhite;
    background-color: transparent;
    border: solid 1px rgb(49, 206, 49);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    width: 100px;

}

#Messages {

    width: 230px;
    color: #eee;
    background-color: transparent;
    border: solid 1px rgb(49, 206, 49);
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#button_Restart {
    border-color: none;

}

.resulT {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    
}
.hearts-Lifes ,.hearts-Elife{
    
    margin-top: 50px;
    color: #eee;
    border: solid 1px rgb(49, 206, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media(max-width: 360px) {

    .container_Dragon,
    .button-Button {
        flex-direction: column;
    }

}